.ProductPage {
  display: flex;
}

.ProductPage > div {
  flex: 3;
  padding: 10px;
}

.ProductPage .linksMenuContainer {
  flex: 1;
}

.ProductPage .buySection {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.ProductPage .buySection > div {
  flex: 1;
  padding: 10px;
  white-space: nowrap;
}

.ProductPage .buySection > div:last-child {
  flex: 2;
}

.ProductPage .textBlocksContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.ProductPage .textBlocksContainer > div {
  margin: 5px;
  flex-basis: 100%;
}

.ProductPage .productImageContainer > div:first-child {
  flex: 2;
}

.ProductPage .productImageContainer > div:last-child {
  flex: 3;
}

@media (max-width: 600px) {
  .ProductPage .linksMenuContainer {
    display: none;
  }
}

@media (min-width: 601px) {
  .ProductPage .buySection > div:last-child > * {
    width: 100px;
  }
}

@media (min-width: 800px) {
  .ProductPage .productImageContainer {
    display: flex;
  }
}

@media (min-width: 1000px) {
  .ProductPage .textBlocksContainer > div {
    flex-basis: 30%;
  }
}
