.ProductImage {
  max-width: 400px;
  margin: 0 auto;
}

.ProductImage img {
  padding: 3px;
}

.ProductImage .switchSection {
  display: flex;
}

.ProductImage .switchSection img {
  cursor: pointer;
}

.ProductImage .switchSection > div {
  flex: 1;
}
